<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Detalle Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5" th:text="${detalle.id == null} ? 'Nuevo Detalle de Orden' : 'Editar Detalle de Orden'"></h1>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/detalleorden}" th:object="${detalle}" method="post">
                            <input type="hidden" th:field="*{id}" />
                            
                            <div class="form-group">
                                <label for="ordenenae">Orden:</label>
                                <select id="ordenenae" class="form-control" th:field="*{ordenenae.id}">
                                    <option th:each="orden : ${ordenes}" th:value="${orden.id}" th:text="${orden.id}"></option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="productosenae">Producto:</label>
                                <select id="productosenae" class="form-control" th:field="*{productosenae.id}">
                                    <option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.nombreenae}"></option>
                                </select>
                            </div>
                            

                            <div class="form-group">
                                <label for="cantidadenae">Cantidad:</label>
                                <input id="cantidadenae" class="form-control" type="number" th:field="*{cantidadenae}" />
                            </div>

                            <div class="form-group">
                                <label for="precioenae">Precio:</label>
                                <input id="precioenae" class="form-control" type="number" step="0.01" th:field="*{precioenae}" />
                            </div>
                            
                            <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                        </form>
                        <a class="btn btn-info btn-block mt-3" href="/detalleorden">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
